* {
    padding: 0px;
    margin: 0px;
}
h1 {
    width: 940px;
    height: 40px;
    padding: 17px 250px; 
}
h3 {
    left: 0;
    bottom: 0;
    width: 960px;
    height: 34px;
    background: url('village.jpg');
    background-position: 0px;
    background-size: cover;
    padding: 27.5px 240px; 
}
.Footer {
    width: 960px;
    height: 34px;
    
}
.ButtomPanel {
    display: flex;
    align-items: center;
}
.TopPanel {
    display: flex;
    align-items: center;
}
.EscapeButtom {
    font-family: "Lora";
    font-weight: 400;
    font-size: 26px;
    line-height: 26px;
    text-align: left; 
    color: rgb(255, 255, 255);    
}
.Escape {
    font-family: "Lora";
    font-weight: 400;
    font-size: 26px;
    line-height: 26px;
    text-align: left;
}
.listContainer {
    text-align: center;
    width: 376px;
    height: 40px;
    margin-left: 560px;
    display: flex;
    align-items: center;
}
.list {
    display: inline;
    list-style-type: none;
    font-family: "Oxygen";
    line-height: 20px;
    letter-spacing: 0.6px;
    font-size: 11px;
    font-weight: 100;
}
.listContainerButtom {
    text-align: center;
    width: 376px;
    height: 40px;
    margin-left: 560px;
    letter-spacing: 1px; 
    display: flex;
    align-items: center;
}
.listButtom {
    display: inline;
    list-style-type: none;
    font-family: "Oxygen";
    line-height: 20px;
    letter-spacing: 0.6px;
    font-size: 11px;
    font-weight: 100;
}
li {
    float: left;
    padding: 0px 10px;    
}
.buttomUnit {
    float: left;
    padding: 0px 10px;
    color: rgb(255, 255, 255);     
}
p{
    padding-bottom: 50px;
}
.BlogText {
    margin: 275px 240px;
    width: 960px;
    height: 1431px;
    font-family: "Oxygen";
    font-weight: 200;
    font-size: 24px;
    line-height: 35px;
}
.polarBlind {
    width: 1440px;
    height: 534px;
    background: url('polar.jpg') no-repeat;
    background-size: cover;
    background-position: right;
}
.HeaderTitle {
    margin: 89px 500px;
    width: 504px;
    height: 91px;
    text-align: center;
}
.Title {
    font-family: "Lora";
    margin-bottom: 31px; 
    line-height: 51px;
    letter-spacing: 2px;
    font-size: 50px;
    font-weight: 100;
}
.SmallTitle {
    font-family: "Oxygen";
    line-height: 20px;
    font-size: 17px;
    color: rgba(46, 46, 46, 0.63);
}